/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Verdana;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.superwrap{
	width: 960px;
	height: 1200px;
	background:url('images/bg_html.jpg') ;
    margin: 0 auto;
}

.wrap{
	width: 700px;
	height: 1100px;
	
    margin: 0 auto;
    padding-top: 40px;

}

.header{
	width: 700px;
	height: 100px;
	
}

.logo{
	width: 211px;
	height: 100px;
	float: left;
}

.top{
	width: 700px;
	height: 84px;
}

.connect{
	width: 23px;
	height: 23px;
	float: right;
	margin-left: 5px;
}

.menu {
	color: black;
	float: right;
	font-size: 70%;
	margin-left: 15px;
}

.menu h3{
	color: blue;
	
}

.slide{
	width: 700px;
	height: 354px;
	background: #3C3C3C;
	margin-top: 46px;
}

.slideimages{
	width: 450px;
	height: 354px;
	background: url('images/slider-1.png') no-repeat;
	float: left;
}

.slidecontent{
	width: 180px;
	height: 314px;
	float: left;
	padding-top: 40px;
	padding-left: 30px;
}

.slidetitle{
	font-size: 200%;
	font-weight: bold;
	color: #00E3E3;
	display: block;
	
}

.slidetext{
	color: white;
	font-size: 12px;
	line-height: 28px;
	margin-top: 20px;
	color: #d0d0d0;
}

.slidecontent input{
	background-color:#5B5B5B;
	color:#ffffff;
	padding:10px 15px 10px 15px;
	margin:25px 0px 0px 0px;
	border-style:none;
	outline:none;
	cursor:pointer;
}

.content{
	width: 650px;
	height: 100px;
	margin-top: 30px;
	background: white;
	padding: 20px 25px;
}

.content span{
	color: blue;
}

.contenttext{
	font-size: 13px;
	line-height: 28px;
	
}

.footer{
	width: 675px;
	height: 380px;
	margin-top: 30px;
	background: white;
	padding-top: 20px;
	padding-left: 25px;
	z-index: -1;
}

.footerleft{
	width: 455px;
	height: 360px;
	background: white;
	float: left;
}

.footerright{
	width: 210px;
	height: 360px;
	background: white;
	float: left;
	
	padding-right: 5px;
}

.footertitle{
	font-size: 150%;
	display: block;
	
}

.footer span{
	
	color: blue;
}

.footerleftcontent{
	width: 450px;
	height: 150px;
	background: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footerrightcontent{
	width: 195px;
	height: 150px;
	background: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footerimages1{
	height: 140px;
	width: 185px;
	background: url('images/page1-img1.jpg');
	margin-right: 10px; 
	float: left;
}

.footerlefttitle{
	display: block;
	font-weight: bold;
}

.clear{
	clear: both;
}

.footertext{
	display: block;
	margin-top: 10px;
}

.footerimages2{
	height: 140px;
	width: 185px;
	background: url('images/page1-img2.jpg');
	margin-right: 10px; 
	float: left;

}

.icon{
	width: 10px;
	height: 10px;
	background: url('images/icon_3.png') no-repeat;
	margin-top: 12px;
	margin-bottom: 15px;
	font-size: 2px;
	z-index: 10;
}

.bar{
	width: 145px;
	height: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}



.searchtext{
	display: block;

}

.search{
	width: 100px;
	height: 40px;
	color: #47ade0;
	background-color: #f5f5f5;
	border-style: none;
	outline: none;
	cursor: pointer;
}

.footerinfo{
	display: block;
	margin-left:380px;
}

.footerinfo1{
	display: block;
	margin-left:270px;
}

.footerinfo1 span{
	color: blue;
}